html{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
}

body{
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.Home, .Features, header{
    background-image: url(Pictures/Background\ Image.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    width: 93%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3px;
    list-style: none;
    position: relative;
    padding: 1%;
    height: 50px;
}

#menu{
    display: flex;
}

#menu li{
    padding-left: 30px;
}

.submenu{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

/* #menu li, a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #5956E9;
    transition: 0.15s ease-in-out;
} */

/* #menu li, a:hover:after{
    width: 100%;
} */

.open-menu , .close-menu{
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    align-items: center;
}

#check{
    color: black;
    display: none;
}

.open-menu{
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
}

.close-menu{
    top: 32%;
    left: 10px;
}

#logo{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: white;
}

.button-header{
    background-color: #5956E9;
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 4px 8px 4px 8px;
    position: absolute;
    right: 1%;
}

@media(max-width: 610px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100vh;
        position: fixed;
        top: 0;
        left:-100%;
        z-index: 100;
        background-color: white;
        transition: all 0.2s ease-in-out ;
    }
    .menu li{margin-top: 40px;}
    .menu li , a{padding: 10px;}
    .open-menu , .close-menu{display: block;}
    #check:checked ~ menu{right:0;}
}

.outline{
    border: 10px solid;
    border-color: #7572FF;
    padding: 10px;
    background-color: #5956E9;
    
}

.post{
    color: black;
    background-color: white;
    padding: 20px;
    position: relative;
    width: 98%;
    right: 35px;
}

.Home{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.download{
    font-weight: 600;
    width: 72%;
    margin-top: 30px;
}

.button-home{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    right: 10px;
}

.container-home{
    width: 90%;
    position: relative;
    left: 10px;
    margin-top: 50px;
}

.title-home{
    line-height: 20px;
    size: 80px;
    color: #5956E9;
    font-weight: 600;
    margin-bottom: 25px;
}

.text1{
    color: #6C6C72;
    size: 16px;
}

#phone{
    position: relative;
    left: 28px;
    margin-bottom: 50px;
}

.About{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    text-align: center;
}

.title-about{
    font-weight: 600;
    color: #232233;
}

.text2{
    color: #6C6C72;
    size: 16px;
    display: flex;
    text-align: center;
    word-spacing: 2px;
    line-height: 20px;
    margin-bottom: 50px;
}

.about-post{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    padding: 20px;
}

.subtitles-about{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}

.img{
    position: relative;
    bottom: 3px;
}

.turi{
    position: relative;
    left: 40px;
    width: 280px;
    color: #6C6C72;
}

.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.icons-features{
    width: 50px;
}

.title-feature{
    width: 90%;
   
}

.items-feature{
    width: 80%;
}

.container-feature{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
}

.img-features{
    position: relative;
    left: 10px;
}

.Features h3{
    font-size: 20px;
    font-weight: 600px;
}

.Features h2{
    font-size: 25px;
    font-weight: 600px;
}

.Team{
    margin-top: 60px;
    margin-bottom: -170px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title-team h1{
    font-size: 20px;
    font-weight: 600px;
}

.title-team p{
    color: #6C6C72;
    width: 90%;
    margin: 0 auto;
}

.container-team{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    gap: 30px;
}

.member{
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
    color: #6C6C72;
    padding: 30px;
}

.member h1{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700px;
}

.member h3{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600px;
}

.social-networks{
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: black;
}

.member  h1{
    color: black;
}

footer{
    background-color: #232233;
    color: white;
    padding: 200px 20px 0 20px;
    gap: 50px;
}

footer h2{
    font-size: 25px;
}

.logo-text{
    font-size: 31.25px;
}

.social-networks2{
    display: flex;
    justify-content: space-around;
    color: white;
    width: 80%;
    align-items: center;
    line-height: normal;
}

.social-networks2 a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #5956E9;
}

.link a:hover{
    color: #5956E9;
}

.link{
    list-style: none;
    line-height: 40px;
}

.link a{
    text-decoration: none;
    color: white;
    padding: 0;
}

.mail{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 40px;
    margin-bottom: 40px;
}

.block1{
    background-color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
}

.block2{
    border-radius: 3px;
    border: 0;
    height: 90%;
    width: 45px;
    background-color: #5956E9;
    position: absolute;
    right: 2px;
}

.copyright{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    justify-content: center;
    gap: 10px;
}

.Contact{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    color: black;
    position: relative;
    background-color: white;
    text-align: center;
    bottom: -178px;
    padding: 30px;
    font-size: 18px;
    align-items: center;
}

.message, .phone{
    display: flex;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #5956E9;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.Contact hr{
    width: 40%;
    border: 2px solid; 
    border-radius: 5px;
}

.phone{
    margin-top: 16px;
}

.number{
   margin-bottom: 0 ;
   font-size: 18px;
}















